<!-- create_server.html -->
{% extends "admin/base_site.html" %}

{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
    <div class="text-center">
        <h2 class="mb-5" for="provider">Select Provider</h2>
        <form class="m-5 pd-5" method="post">
            {% csrf_token %}
            <label for="provider">Provider type:</label>
            <select name="provider" id="provider">
                {% for provider in providers %}
                    <option value="{{ provider }}">{{ provider }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary" type="submit">Select</button>
        </form>
    </div>
{% endblock %}